.promotion-btn {
  width: 100%;
  padding: 0 15px;
  color: #676767;
  cursor: pointer;
  height: 48px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #676767;
  font-weight: 700;
  transition: 0.5s;
  margin: 20px 0;
}
.promotion-btn:hover {
  border: 1px solid #00b14f;
  color: #00b14f;
}
