.navbar {
  height: 88px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}
.navbar.transparent {
  background-color: transparent;
  transition: all 0.5s;
}
.navbar.sticky {
  background-color: #fff;
  transition: all 0.5s;
}
.navbar .container {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.container .navbar-content {
  height: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo img,
.navbar-logo a {
  width: auto;
  height: 50px;
}
.navbar-content .navbar-menu {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 12px;
}
.navbar-menu .navbar-cart,
.navbar-login,
.navbar-change-lang {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #f0efef;
  font-size: 12px;
}
.navbar-menu .navbar-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 100%;
}

.navbar-menu .navbar-login {
  height: 100%;
  padding: 0 12px;
}
.navbar-login a {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar .navbar-change-lang {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 100%;
  cursor: pointer;
}
.navbar-change-lang span {
  display: inline-block;
  margin-left: 8px;
}
